 <!-- Modal -->
  <div class="modal fade" id="login_form" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">LOGIN</h4>
        </div>
        <div class="modal-body">
         <form method="post" id="submit-form" class="pexeto-contact-form">
                <div class="error-box error-message"></div>
                <div class="info-box sent-message"></div>
                <div class="form-group">
                    <label class="contact-label">
                        Username            <span class="mandatory">*</span>
                    </label>
                    <input type="text" class="form-control" name="name" class="required">
                </div>

                <div class="form-group">
                    <label class="contact-label">
                        Password          <span class="mandatory">*</span>
                    </label>
                    <input type="text" class="form-control" name="email" class="required email">
                </div>

                
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log In</button>
                </div>
                <div class="contact-loader"></div>
                <div class="clear"></div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
