<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
    
        <li>
            <a class="page-scroll" href="{{ 'main' | page }}">Home</a>
        </li>
        <li>
            <a class="page-scroll" href="{{ 'about' | page }}">About Us</a>
        </li>
        <li>
            <a class="page-scroll" href="{{ 'products' | page }}">Products</a>
        </li>
        <li>
            <a class="page-scroll" href="{{ 'business' | page }}">Business</a>
        </li>
        <li>
            <a class="page-scroll" href="{{ 'gallery' | page }}">Gallery</a>
        </li>
        <li>
            <a class="page-scroll" href="{{ 'faqs' | page }}">FAQ'S</a>
        </li>
        <li>
            <a class="page-scroll" href="{{ 'contact' | page }}">Contact US</a>
        </li>
        <li>
            <a data-toggle="modal"  href="#login_form">Login</a>
        </li>
    </ul>
</div>
