
<div class="row centered-form">
<div class="col-xs-12 col-sm-12 col-md-12">
	<div class="panel panel-default">
		<div class="panel-heading">
	    		<h3 class="panel-title">Create Travel Agent Account</h3>
	 			</div>
	 			<div class="panel-body">
	    		<form role="form">
	    			<div class="row">
	    				<div class="col-xs-6 col-sm-6 col-md-6">
	    					<div class="form-group">
	                <input type="text" name="firstname" id="firstname" class="form-control input-sm" placeholder="First Name">
	    					</div>
	    				</div>
	    				<div class="col-xs-6 col-sm-6 col-md-6">
	    					<div class="form-group">
	    						<input type="text" name="middlename" id="middlename" class="form-control input-sm" placeholder="Middle Name">
	    					</div>
	    				</div>
	    			</div>

	    			<div class="form-group">
	    				<input type="text" name="lastname" id="lastname" class="form-control input-sm" placeholder="Last Name">
	    			</div>

	    			<div class="form-group">
	    				<input type="text" name="address" id="address" class="form-control input-sm" placeholder="Home Address">
	    			</div>

	    			<div class="form-group">
	    				<input type="text" name="birthdate" id="birthdate" class="form-control input-sm" placeholder="Birthday (mm/dd/yyyy)">
	    			</div>


	    			<div class="form-group">
	    				<input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address">
	    			</div>

	    			<div class="form-group">
	    				<input type="text" name="username" id="username" class="form-control input-sm" placeholder="Username">
	    			</div>

	    			<div class="row">
	    				<div class="col-xs-6 col-sm-6 col-md-6">
	    					<div class="form-group">
	    						<input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
	    					</div>
	    				</div>
	    				<div class="col-xs-6 col-sm-6 col-md-6">
	    					<div class="form-group">
	    						<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
	    					</div>
	    				</div>
	    			</div>

	    			<div class="form-group">
	    				<input type="text" name="sponsor_id" id="sponsor_id" class="form-control input-sm" placeholder="Sponsor ID">
	    			</div>

	    			<div class="form-group">
	    				<input type="text" name="sponsor_name" id="sponsor_name" class="form-control input-sm" placeholder="Sponsor Name">
	    			</div>
	    			
	    			<input type="submit" value="Register" class="btn btn-info btn-block">
	    		
	    		</form>
	    	</div>
		</div>
	</div>
</div>