title = "About Us"
url = "/about"
is_hidden = 0
==
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ATLS Express - {{ this.page.title }}</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Bootstrap Core CSS -->
    <link href="{{ [
            'assets/vendor/bootstrap/css/bootstrap.min.css',
            'assets/vendor/font-awesome/css/font-awesome.min.css',
            'assets/vendor/magnific-popup/magnific-popup.css',
            'assets/css/landing-page.css',
            'assets/css/font-awesome.min.css',
        ]|theme }}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">ATLS Express</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            {% partial "nav" %}
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>{{ this.page.title }}</h1>
                        <h3>Some Sample Description</h3>
                        <hr class="intro-divider">
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-sm-push-6  col-sm-6">
                    <h2 class="section-heading">Welcome to our Website!</h2>
                    <p>Hi, my name is Alex Apuntar and I’m grateful that that our paths have crossed. My mission, and my purpose is to empower those who want to change their life, and change the world for the better, with the knowledge and skills they need to do so.</p>
                    <p>If you’re an entrepreneur, or want to become one, I believe I have some insights and experiences that can help you make an incredible impact in the lives of others.</p><p>When I’m not working, I do my best to experience as much as I possibly can during the short window of time we all have here…</p><p>If you’re one of the few people on the planet who’s ever had the privilege of living the life that you've ever dreamed of…</p><p>Over the past 8 years, I’ve made an incredible living by taking the intangible thoughts in my head, and making them tangible and available to others.</p><p>In the past, what we could create in this life was limited to what we could create with our hands.</p><p>Today, we live in a virtual world, which means we can literally create anything we can imagine, and it’s all made out of technology.</p><p>BUILD YOUR BUSINESS, BUILD YOUR WEALTH AND LIVE YOUR DREAM…</p><p>Thank you for taking the time to connect, and the best way to stay in touch is to subscribe to my email newsletter list.</p><p>Let’s connect on facebook as well…</p>
                    <p>Looking Forward In Partnering With You Towards Success!</p>
                    <p>-Rich Alex Apuntar</p>
                    <p>Life Coach| Mentor</p>
                </div>
                <div class="col-lg-6 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{{ 'assets/img/about.jpg' |theme }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Travel Now:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% partial 'nav' %}
                    <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ 'assets/vendor/jquery/jquery.min.js'|theme }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ [
            'assets/vendor/bootstrap/js/bootstrap.min.js',
            'assets/vendor/scrollreveal/scrollreveal.min.js',
            'assets/vendor/magnific-popup/jquery.magnific-popup.min.js',
            'assets/js/creative.min.js',
        ]|theme }}" rel="stylesheet"></script>

</body>

</html>