title = "Contact Us"
url = "/contact-us"
is_hidden = 0
==
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ATLS Express - {{ this.page.title }}</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Bootstrap Core CSS -->
    <link href="{{ [
            'assets/vendor/bootstrap/css/bootstrap.min.css',
            'assets/vendor/font-awesome/css/font-awesome.min.css',
            'assets/vendor/magnific-popup/magnific-popup.css',
            'assets/css/landing-page.css',
            'assets/css/font-awesome.min.css',
        ]|theme }}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">ATLS Express</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            {% partial "nav" %}
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>{{ this.page.title }}</h1>
                        <h3>Some Sample Description</h3>
                        <hr class="intro-divider">
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div id="content" class="content">
                        <div class="content-box">
                            <form method="post" id="submit-form" class="pexeto-contact-form">
                                <div class="error-box error-message"></div>
                                <div class="info-box sent-message"></div>
                                <div class="form-group">
                                    <label class="contact-label">
                                        Name            <span class="mandatory">*</span>
                                    </label>
                                    <input type="text" class="form-control" name="name" class="required">
                                </div>

                                <div class="form-group">
                                    <label class="contact-label">
                                        E-mail address          <span class="mandatory">*</span>
                                    </label>
                                    <input type="text" class="form-control" name="email" class="required email">
                                </div>

                                <div class="form-group">
                                    <label class="contact-label">
                                        Your message            <span class="mandatory">*</span>
                                    </label>
                                    <textarea name="question" class="form-control" class="required"></textarea>
                                </div>

                                
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Send Message</button>
                                </div>
                                <div class="contact-loader"></div>
                                <div class="clear"></div>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-sm-6">
                    <aside>
                        <h4 class="title">Contact me:</h4>
                        <p>Name: Alexander G Apuntar<br>
                        Address: B20 L7 P2 San Isidro Heights Banlic Cabuyao Laguna<br>
                        Email: rednaxela19@gmail.com<br>
                        Contact: 09178223454 / 09999910166</p>
                    </aside>
                    <aside class="sidebar-box widget_text" id="text-9"><h4 class="title">Head Office:</h4>
                    <p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d123658.89939042072!2d120.96205707507919!3d14.40751845248053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397d02cc7b1e345%3A0x51fdbee47cdaf013!2sMuntinlupa%2C+Metro+Manila!5e0!3m2!1sen!2sph!4v1468409700152" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen="">
                            
                        </iframe>
                    </p>
                    </aside>
                </div>
                
            </div>

        </div>
        <!-- /.container -->

    </div>

    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Travel Now:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% partial 'nav' %}
                    <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ 'assets/vendor/jquery/jquery.min.js'|theme }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ [
            'assets/vendor/bootstrap/js/bootstrap.min.js',
            'assets/vendor/scrollreveal/scrollreveal.min.js',
            'assets/vendor/magnific-popup/jquery.magnific-popup.min.js',
            'assets/js/creative.min.js',
        ]|theme }}" rel="stylesheet"></script>

</body>

</html>