title = "FAQs"
url = "/faqs"
is_hidden = 0
==
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ATLS Express - {{ this.page.title }}</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Bootstrap Core CSS -->
    <link href="{{ [
            'assets/vendor/bootstrap/css/bootstrap.min.css',
            'assets/vendor/font-awesome/css/font-awesome.min.css',
            'assets/vendor/magnific-popup/magnific-popup.css',
            'assets/css/landing-page.css',
            'assets/css/font-awesome.min.css',
        ]|theme }}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">ATLS Express</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            {% partial "nav" %}
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>{{ this.page.title }}</h1>
                        <h3>Some Sample Description</h3>
                        <hr class="intro-divider">
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <img src="{{ 'assets/img/team-infin8e.gif'|theme }}" style="
    width: 100%;
    background-color: white;
">
                    <h3 class="widget-title">Who are we?</h3>
                    <p>WCA provides affordable, competitive and quality travel accommodations and packages to individuals and families worldwide. The company is focused on marketing and distributing excellent options for every individual or family’s travel needs. WCA offers a wide range of accommodation options both locally and abroad spanning across leading domestic, regional and international destinations in Europe, Asia and America. With its highly skilled and motivated group of leaders, WCA assures its clients of quality, professional, and excellent travel services at the best possible price.</p>
                    <p>Proceed to Travel Ventures International Express FAQ<br>
                    1.  What is Travel Ventures International Express?<br>
                    We are a leading multinational conglomerate, our goal is to bring today's lifestyle-conscious consumers the most superior travel and hospitality products &amp; services. </p>
                    <p>2. Why should I join Travel Ventures International Express?<br>
                    By joining Travel Ventures International Express, you are entitled to many benefits like free travel and discounted tour deals. Not only that. As a socially responsible company, we believe in making entrepreneurs of all our members. The moment you sign up for our services, you become an independent distributor of WCA Travel. This means flexible working hours and freedom to work from home. As we use Internet as our modality to promote business, there is hardly any investment required.</p>
                    <p>3.   What's the minimum age criterion to join WCA Travel Ventures International?<br>
                    An individual must be 18 years or above to become a Travel Ventures International Express member</p>
                    <p>4.   How do I become a member of WCA Ventures International Express?<br>
                    Once you decide to join Travel Ventures International Express, all you need to do is either visit the "Join Now" section on our website &amp; follow the three simple steps indicated or write to us at WCA Travel and purchase an e-voucher to facilitate your joining. Please note that you need to have a sponsor to join our organization. A sponsor is the person who introduced this business to you.</p>
                    <p>5.   Is there a cost involved?<br>
                    Yes, there is a joining fee of PHP 16,800. However, this is a one-time cost that's being charged for a lifetime membership. Besides this, you are NOT obligated to pay any other fee. There are no monthly charges or annual charges.</p>
                    <p>Indian customers<br>
                    Yes, there is a joining fee of INR 15,500. However, this is a one-time fee that's being charged for a lifetime membership. Besides this, you are not obligated to pay any other fee. The membership fee is inclusive of service tax and processing charges.</p>
                    <p>6.   What is the mode of payment?<br>
                    Contact your leader or upline for the mode of payment. </p>
                    <p>For India<br>
                    We currently accept payments via bank wires, credit/debit card swipes at our offices.</p>
                    <p>7.   How long does it take for the membership to get activated?<br>
                    The moment you sign up with us, your membership gets activated. You will immediately receive your membership backoffice site and access to various booking and search engines. You will also be entitled to avail the best of travel and accommodation deals that come with huge discounts. Not just that. To ensure that you are your own boss, you will also gain access to our marketing collateral's and a self-replicating website to start promoting the Travel Ventures International Express opportunity and build your way to financial freedom.</p>
                    <p>8.   Do I need to sell any products?<br>
                    We are a service oriented organization and commission our distributors on sale of our products and services. So, yes you need to sell our products in order to earn commissions but we do pay you commissions on the sales done in your organizational structure based upon the compensation plan.</p>
                    <p>9.   How do I earn money through Travel Ventures International Express?<br>
                    In our daily life, we do recommend products and services to our friends, colleagues, family members which we like. We used the same word of mouth referrals system to form a compensation plan that pays commissions to people on promotion of our products and services. Please note that we do not compel anyone to promote our organization; it's truly optional for a consumer to decide whether to promote us or not after he/she is satisfied with our services.</p>
                    <p>Travel Ventures International Express, uses current members to become distributors of their products and pay commissions using a matrix system. Therefore the payment of commission or system where existing members distribute the products on behalf of the company is referred to as Multi Level Marketing or commonly known as Network Marketing. Direct Selling/Network Marketing/Multi-level Marketing is a widely known and established industry all over the world.</p>
                    <p>10.  Is there any limit on the number of times I can cycle out of the Express Board and earn PHP 450,000.?<br>
                    No. There is no limit on cycle-out. You can earn as much as you want by cycling out multiple times. This gives you an opportunity to create ongoing residual income with each milestone you cross.</p>
                </div>
                <div class="col-lg-6 col-sm-6">
                    
                    <h3 style="
    padding: 78px 0px;
">&nbsp;</h3>
                    <p>11.  Is there any capping limit on Residual Income and Business Generation Bonus?<br>
                    No capping, no ceiling and no time foundations. You can earn unlimited amount of income and the matrix structure pays as per the sales allowing you to enhance your income every coming week.</p>
                    <p>12.  Can I sponsor more than two people?<br>
                    To qualify and earn commissions, you need to sponsor two people. However, if you want to progress fast and create multiple legs to ensure faster cycles and enhanced residual income with other bonuses, we do urge you to sponsor as many people as you can and support them at the same time.</p>
                    <p>13.  What is the advantage of sponsoring more than two people?<br>
                    You will receive a 3-10% bonus for every member that joins your organization after you cycle out of Express board. Sponsoring more than two people and opening multiple legs in your downline organization will not just have you earn more money from the matrix structure but will also ensure faster cycles in the Express Board. Follow-the-leader system makes all members to follow their sponsors.</p>
                    <p>14.  Can I own multiple IDs while building my team?<br>
                    Yes, you can; however this does not allow multiple bookings. Irrespective of the number of IDs that you have, you cannot avail travel on all of them simultaneously. To avoid commercialization of our package, there is a 45 days lock-in period before you can book another accommodation from one of your positions.</p>
                    <p>15.  Since Travel Ventures International Express is a global company, can I refer people from anywhere around the world?<br>
                    Yes, you can make people join from practically any corner of the world &amp; make your network grow to avail more commissions. However, in a few countries where we already have a local presence or are intending to have one soon, we have restricted the markets, primarily out of two reasons:</p>
                    <p>1)   For our master franchisees to explore the market &amp; ensure market penetration<br>
                    2)  And to ensure optimum local tax system deployment</p>
                    <p>Hence, the countries listed below are restricted &amp; e-vouchers from these countries can't be used outside &amp; vise-a versa, though e-vouchers purchased from the company can be used even in these restricted countries.</p>
                    <p>India<br>
                    Mongolia<br>
                    United States<br>
                    Indonesia<br>
                    Malaysia<br>
                    Philippines<br>
                    Kazakhstan<br>
                    South Korea<br>
                    Russia<br>
                    Bangladesh<br>
                    South Africa</p>
                    <p>16.  WCA Travel membership is fully transferable. There is a process to change the membership ownership for which you can contact our Support Teams. The membership however is non-refundable.</p>
                    <p>17.  How do I receive my commissions?<br>
                    All commissions are instantly transferred to your secure e-wallet, which is protected by our double-check secure system. Funds can be withdrawn to your LR account/</p>
                    <p>For India &amp; Indonesia<br>
                    Funds can be transferred to your bank account from our Corporate Accounts.</p>
                    <p>18.  Can Travel Ventures International Express be promoted as an investment scheme?<br>
                    We are strictly against any misrepresentations. If any member is found promoting WCA Travel as an investment scheme, he or she will be immediately terminated followed by further actions.</p>
                    <p>19.  How secure is the member backoffice and payment site?<br>
                    Once you become a member, you will be given a username and password. You will be the only one to have access to the password and you can change it anytime you want. These details cannot even be accessed by the person who sponsored you. You also get a transaction password for secure transactions. Apart from that, we have many security policies and processes in place to ensure a bank alike system for our organization.</p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Travel Now:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% partial 'nav' %}
                    <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ 'assets/vendor/jquery/jquery.min.js'|theme }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ [
            'assets/vendor/bootstrap/js/bootstrap.min.js',
            'assets/vendor/scrollreveal/scrollreveal.min.js',
            'assets/vendor/magnific-popup/jquery.magnific-popup.min.js',
            'assets/js/creative.min.js',
        ]|theme }}" rel="stylesheet"></script>

</body>

</html>