title = "Main"
url = "/"
==
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ATLS Express</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Bootstrap Core CSS -->
    <link href="{{ [
            'assets/vendor/bootstrap/css/bootstrap.min.css',
            'assets/vendor/font-awesome/css/font-awesome.min.css',
            'assets/vendor/magnific-popup/magnific-popup.css',
            'assets/css/creative.min.css',
        ]|theme }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">ATLS Express</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            {% partial "nav" %}
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header style="background: url({{ 'assets/img/header1.jpg'|theme }})">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Lorem ipsum dolor</h1>
                <hr>
                <p>sit amet, consectetur adipiscing elit. Maecenas id posuere velit, at finibus justo. Integer lobortis luctus molestie. Morbi urna velit, congue mollis ligula vel!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <header style="background: url({{ 'assets/img/header2.jpg'|theme }})">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">facilisis malesuada mi</h1>
                <hr>
                <p>Aliquam quis iaculis massa, nec placerat justo. Cras ultricies magna sem, ac imperdiet dui varius ut. Etiam mollis est a hendrerit placerat. Nunc porttitor sollicitudin venenatis!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <header style="background: url({{ 'assets/img/header3.jpg'|theme }})">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Donec sit amet nisl a ante ultrices </h1>
                <hr>
                <p>lobortis. Integer eget viverra enim, sed dignissim risus. Maecenas mauris felis, bibendum at auctor ac, mattis at neque!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <header style="background: url({{ 'assets/img/header4.jpg'|theme }})">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Pellentesque viverra ante in sollicitudin hendrerit</h1>
                <hr>
                <p>Sed sodales leo non quam accumsan, nec malesuada orci molestie!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <header style="background: url({{ 'assets/img/header5.jpg'|theme }})">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Aliquam dolor lacus, hendrerit a sollicitudin vitae</h1>
                <hr>
                <p> tempor nec dolor. Fusce hendrerit, turpis id congue congue, felis odio sodales felis, at ultrices magna tellus eu augue!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="{{ 'assets/img/portfolio/fullsize/1.jpg'|theme }}" class="portfolio-box">
                        <img src="{{ 'assets/img/portfolio/thumbnails/1.jpg'|theme }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="{{ 'assets/img/portfolio/fullsize/2.jpg'|theme }}" class="portfolio-box">
                        <img src="{{ 'assets/img/portfolio/thumbnails/2.jpg'|theme }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="{{ 'assets/img/portfolio/fullsize/3.jpg'|theme }}" class="portfolio-box">
                        <img src="{{ 'assets/img/portfolio/thumbnails/3.jpg'|theme }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="{{ 'assets/img/portfolio/fullsize/4.jpg'|theme }}" class="portfolio-box">
                        <img src="{{ 'assets/img/portfolio/thumbnails/4.jpg'|theme }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="{{ 'assets/img/portfolio/fullsize/5.jpg'|theme }}" class="portfolio-box">
                        <img src="{{ 'assets/img/portfolio/thumbnails/5.jpg'|theme }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="{{ 'assets/img/portfolio/fullsize/6.jpg'|theme }}" class="portfolio-box">
                        <img src="{{ 'assets/img/portfolio/thumbnails/6.jpg'|theme }}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Phasellus faucibus justo justo, feugiat semper libero feugiat quis!</h2>
                <a href="#" class="btn btn-default btn-xl sr-button">Register Now!</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p> Integer tincidunt, massa in venenatis accumsan, risus orci faucibus sem, et blandit leo purus at lorem!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">foo@email.com</a></p>
                </div>
            </div>
        </div>
    </section>
    <script src="{{ 'assets/vendor/jquery/jquery.min.js'|theme }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <script src="{{ [
            'assets/vendor/bootstrap/js/bootstrap.min.js',
            'assets/vendor/scrollreveal/scrollreveal.min.js',
            'assets/vendor/magnific-popup/jquery.magnific-popup.min.js',
            'assets/js/creative.min.js',
        ]|theme }}" rel="stylesheet"></script>

   {% partial 'login' %}
</body>

</html>
